.preview {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.collection-preview .title {
  text-transform: uppercase;
  margin: 3.5rem 0 1rem 0;
  color: rgb(80, 80, 80);
  font-size: 2rem;
}

.collection-preview:first-of-type .title {
  margin: 0 0 1rem 0;
}
