@mixin color($color-hex) {
  border-color: $color-hex;
  color: $color-hex;

  &:hover {
    background-color: $color-hex;
    color: white;
    scale: 1.025;
  }
}

@mixin filled($color-hex) {
  &.filled {
    background-color: $color-hex;
    color: white;

    &:hover {
      scale: 1.025;
      box-shadow: rgba(0, 0, 0, 0.5) -2px 2px 5px;
    }
  }
}

.btn {
  color: black;
  padding: 1rem 2.1rem;
  border-radius: 5px;
  font-size: 1.6rem;
  transition: 0.275s;
  display: inline;

  background: none;
  border: black 2px solid;

  @include color(black);
  @include filled(black);

  &.blue {
    @include color(#0fbcf9);
    @include filled(#0fbcf9);
  }

  &.green {
    @include color(#05c46b);
  }

  &.red {
    @include color(#ff3f34);
  }

  &.orange {
    @include color(#ffa801);
  }
}
