.cart-dropdown {
  height: 35rem;
  width: 25rem;
  box-shadow: rgba(0, 0, 0, 0.4) -2px 3px 10px;
  border: 2px black solid;
  border-radius: 4px;
  background-color: white;
  position: absolute;
  top: 8.5vh;
  left: 85%;
  transform: translateX(-50%);
  display: flex;
  z-index: 3;
  flex-direction: column;

  .cart-items {
    height: 85%;
    width: 90%;
    margin: 1rem auto;
    overflow-y: scroll;
  }
  .checkout-btn-container {
    display: flex;
    justify-content: center;
    margin: 1rem 0;

    button {
      width: 20rem;
    }
  }
}
