.header {
  height: 8vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.logo-container {
  width: 50%;

  .logo {
    font-family: 'Abril Fatface', cursive, serif;
    font-size: 2.2rem;
  }
}

.links-container {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  font-size: 1.6rem;

  .link {
    margin-left: 2rem;
    color: #333;
    transition: 0.25s;

    &:hover {
      color: black;
      text-shadow: black -0.3px 0.3px;
    }
  }
}
