.header {
  height: 8vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.logo-container {
  width: 50%;

  .logo {
    font-family: 'Abril Fatface', cursive, serif;
    font-size: 2.2rem;
  }
}

.links-container {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  font-size: 1.5rem;

  .link {
    margin: auto 2rem;
  }
}
